body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%; /* Set the container to full width */
    padding: 0; /* Remove padding to ensure it aligns fully */
    box-sizing: border-box;
}

header {
    background-color: #363689;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    width: 100%;
}

nav {
    background: linear-gradient(to right, #0A0A0A, #2C2C2C);
    color: white;
    padding: 5px;
    border: 0.5px solid;
    border-block-color: lightgray;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
    margin-right: 20px;
}

.nav-links {
    display: flex;
    gap: 50px;
    align-items: center;
}

    .nav-links a {
        color: white;
        text-decoration: none;
    }

    .nav-links .sign-in-button {
        background-color: #FF6D00;
        color: white;
        padding: 4px 18px;
        border-radius: 50px;
        text-decoration: none;
        font-size: 15px;
    }

.background-image {
    width: 100%;
    height: auto;
    display: block;
}

table {
    margin-top: 20px;
}

form {
    padding: 20px;
}

label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

input[type="text"], select {
    width: 200px;
    padding: 5px;
}

.error-message {
    color: red;
    font-size: 12px;
}
